.h1 {
  color: #1E2026;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}

.h2 {
  font-size: 12px;
  color: #76808F;
  font-weight: 600;
}

.h3 {
  color: #1E2026;
  font-size: 20px;
  font-weight: 600;
}